<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/flash.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Home</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/flash.ejs') %>
    <main class="homepage">
        <h1>Homepage Under Construction</h1>
    </main>
    <script src="/javascripts/main.js"></script>
</body>

</html>