<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/flash.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Reset Password</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/flash.ejs') %>
    <main>
        <form action="/reset/<%= token %>" method="POST" class="login-form">
            <div>
                <div>
                    <h3>
                        <label for="password">New Password</label>
                    </h3>
                </div>
                <div>
                    <input type="password" name="password" id="password" required autofocus>
                </div>
            </div>
            <div>
                <div>
                    <h3>
                        <label for="confirm">Confirm Password</label>
                    </h3>
                </div>
                <div>
                    <input type="password" name="confirm" id="password" required>
                </div>
            </div>
            <div class="margin-1">
                <button class="button" type="submit" value="Update Password">Update Password</button>
            </div>
        </form>
    </main>
    <script src="/javascripts/main.js"></script>
</body>

</html>