<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/flash.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Login</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/flash.ejs') %>
    <main>
        <% if(!currentUser) { %>
        <form action="/login" method="POST" class="login-form">
            <div>
                <div>
                    <h3>
                        <label for="username">Username</label>
                    </h3>
                </div>
                <div>
                    <input type="text" id="username" name="username" required autofocus>
                </div>
            </div>
            <div>
                <div>
                    <h3>
                        <label for="password">Password</label>
                    </h3>
                </div>
                <div>
                    <input type="password" name="password" id="password" required>
                </div>
            </div>
            <div class="margin-1">
                <button class="button" type="submit" value="Submit">Login</button>
            </div>
            <div class="margin-2">
                <a href="/forgot" class="link">Forgot My Password</a>
            </div>
        </form>
        <% } else { %>
        <p class="main-p">You are already logged in.</p>
        <% } %>
    </main>
    <script src="/javascripts/main.js"></script>
</body>

</html>